#bigsection {
    height: 1000px;
}



#textMyVoice {
    font-size: 100px;
    color: white;
    line-height: 120px;
}

#textJourney {
    font-size: 20px;
    color: white;
    line-height: 20px;
    margin-left: 530px;
}

#myVoiceSection {
    
    margin-left: 120px;
    margin-top: 100px;
    height: 300px;
    width: 100%;


}
#arrow {
    height: 200px;
    width: 200px;
    rotate: 160deg;
    margin-left: 400px

}